nbproject
.settings
.pydevproject
.project
.svn
local_settings.py
www/image-cache/*
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
eggs
fcgi
nginx
parts
*.egg-info
.DS_Store
desktop.ini
Thumbs.db
www/tmp/*
www/storage/templates/*